<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<p>First Name: <span th:text="${user.firstName}"></span></p>
<p>Last Name: <span th:text="${user.lastName}"></span></p>
<p>Address: <span th:text="${user.address}"></span></p>
<p>City: <span th:text="${user.city}"></span></p>
<p>Zip Code: <span th:text="${user.zipCode}"></span></p>
<p>Phone: <span th:text="${user.phone}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<a th:href="@{/users}">Back to List</a>
</body>
</html>